<div class="container">
    <h2>{{formTitle}}</h2>
    {{ form_start(formStatus) }}
        {{ form_widget(formStatus) }}
        <input class = "btn btn-primary my-3" type="submit" value="{{formSubmit}}"/>
    {{ form_end(formStatus) }}
</div>