{% extends 'base.html.twig' %}

{% block title %}Actions Status{% endblock %}


{% block body %}
    <div class="container">
        <h1>{{form_title}}</h1>
        {{form_start(formStatus)}}
            {{form_widget(formStatus)}}
           <input class = "btn btn-primary my-3"  type="submit" value="{{form_submit}}">
        {{form_end(formStatus)}}
    </div>
{% endblock %}