{% extends 'base.html.twig' %}

{% block title %}Status index{% endblock %}


{% block body %}
<div class="container">

    {#  DEBUT Affichage des messages alert #}
		{% include 'includes/_flashmessage.html.twig' %}
	{#  FIN Affichage des messages alert #}

    <a class="btn btn-primary my-3" href="{{ path('app_status_new') }}">
        <i class="bi bi-plus-circle"></i>
        Ajouter un statu
    </a>
    {{dump(statuses)}}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Nombre de Produits<th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.title }}</td>
                <td>{{ status.description }}</td>
                
                {# <td>{{ status.nbProduct }}</td> #}
                
                <td>
                    <a class="btn btn-light my-3" href="{{ path('app_status_show', {'id': status.id}) }}">
                        <i class="bi bi-search"></i>
                        Voir
                    </a>
                    <a class="btn btn-dark my-3" href="{{ path('app_status_edit', {'id': status.id}) }}">
                        <i class="bi bi-pen"></i>
                        Modifier
                    </a>
                    <a class="btn btn-danger my-3" href="{{ path('app_status_delete', {'id': status.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer le status?')">
                        <i class="bi-trash me-1"></i>
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
