{% extends 'base.html.twig' %}

{% block body %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
			<li class="breadcrumb-item"><a href="{{ path('app_product') }}">Nos Produits</a></li>
			{% for product in products %}
				<li class="breadcrumb-item active" aria-current="page">{{ product.status.title }}</li>
			{% endfor %}
  		</ol>
	</nav>
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
		{# ********** DEBUT Affichages des messages d'alertes ********** #}
		{% for message in app.flashes('success_product') %}
			<div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
				<p class="text-center"><strong>Félicitation </strong>{{ message }}</p>
			</div>
		{% endfor %}
		{% for message in app.flashes('error_product') %}
			<div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
				<p class="text-center"><strong>Erreur : </strong>{{ message }}</p>
			</div>
		{% endfor %}
		{# ********** FIN Affichages des messages d'alertes ********** #}
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			{% for product in products %}
				<div class="col mb-5">
					<div class="card h-100">
						<!-- Sale badge-->
						<div class="badge bg-{{ product.status.color.codeBootstrap|default('dark') }} text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ product.status.title|default('N.C') }}</div>
						<!-- Product image-->
						{% if product.imageName %}
						<img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="image de {{product.title}}"/>
						{% else %}
						<img class="card-img-top" src="https://via.placeholder.com/80" alt="image neutre"/>
						{% endif %}
						<!-- Product details-->
						<div class="card-body p-4">
							<div
								class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder">{{ product.title }}</h5>
								<!-- Product price-->
								<span class="text-muted text-decoration-line-through">{{ product.price }} &#8364;</span>
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center">
								<a class="btn btn-outline-dark mt-auto" href="{{ path('app_product_details', {id : product.id }) }}">Voire le produit</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
