
<div class="container">
    <h2>{{form_title}}</h2>
    {{ form_start(formProduct)}} 
        {{ form_widget(formProduct)}}
        <input class = "btn btn-primary my-3" type="submit" value="{{form_submit}}"/>
    {{ form_end(formProduct)}}
</div>


