{% extends 'base.html.twig' %}

{% block title %}Nos Produits | Agence Lilipucien{% endblock %}


{% block body %}
    <nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_product') }}">Nos Produits</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_status_products', {id : product.status.id}) }}">{{ product.status.title }}</a></li>
        	<li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
  		</ol>
	</nav>
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="badge bg-primary text-white position-absolute p-2" style="top: 0.5rem; right: 1.5rem">{{ product.status.title|default('N.C') }}</div>
                                {% if product.imageName %}
						            <img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="image de {{product.title}}"/>
						        {% else %}
						            <img class="card-img-top" src="https://via.placeholder.com/80" alt="image neutre"/>
						        {% endif %} 
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">Agence Lilipucien</div>
                        <h1 class="display-5 fw-bolder">{{ product.title }}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{ product.price }} €</span>
                            <span>{{ product.createdAt|date("d/m/Y à H:i:s")}}</span>
                        </div>
                        <p class="lead">{{ product.description }}</p>
                        <div class="d-flex">
                            <a class="btn btn-outline-dark flex-shrink-0" href="{{ path('app_home') }}">
                                <i class="bi bi-house-door-fill"></i>
                                Retour
                            </a>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center">
								<a class="btn btn-dark" href="{{ path('app_product_edit', {id : product.id }) }}">
                                    <i class="bi bi-pen"></i>
                                    Modifier le produit
                                </a>
								<a class="btn btn-danger" href="{{ path('app_product_delete', {id : product.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer le produit ?')">
                                    <i class="bi-trash me-1"></i>
                                    Supprimez le produit
                                </a>
							</div>
						</div>
                    </div>
                    </div>
                </div>
            </div> 
        </section>
        <section>
            <div class="container">
                <h2>Caractéristiques du Produits</h2>
                <div class="table-responsive">
                    <table class="table table-striped-columns ">
                        <thead>
                            <tr>
                                <th scope="col">Ville</th>
                                <th scope="col">Surface</th>
                                <th scope="col">Nombre de garage</th>
                                <th scope="col">Cave</th>
                                <th scope="col">Nombre de Chambre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ product.city }}</td>
                                <td>{{ product.surface }}</td>
                                <td>{{ product.nbGarage }}</td>
                                {% if product.cellar == null %}
                                    <td>Non</td>
                                {% else %}
                                    <td>Oui</td>
                                {% endif %}
                                <td>{{ product.nbBedroom }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h3 class="fw-bolder mb-4">Autres Biens disponibles</h3>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="photos du bien immobilier" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.title}}</h5>
                                    <!-- Product price-->
                                    {{product.price}}<span>&#8364;</span></li>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a  class="btn btn-light" href="{{ path('app_product_details', {id : product.id }) }}">
                                        <i class="bi bi-search"></i>
                                        Voir le bien
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
{% endblock %}