<div class="container my-3">
    <h2>{{form_title}}</h2>
    {{ form_start(formContact)}} 
        {{ form_widget(formContact)}}
        <input class = "btn btn-primary my-3" type="submit" value="{{form_submit}}"/>
    {{ form_end(formContact)}}
</div>
